$color_separador: rgb(60,60,60);
$bg: #1f1f1f; 
$white: #ededed; 
$grey-1: #363636; 
$grey-2: #aeaeae; 
$grey-3: #252526; 
$grey-4: #1a1a1a; 
$primary-50: #e8636e; 
$primary-60: #c42926; 
$title-34bold: 700 2.125rem/2.5rem Inter; 
$subtitle-26semibold: 600 1.625rem/2rem Inter; 
$subtitle-26regular: 400 1.625rem/2rem Inter; 
$subtitle-22regular: 400 1.625rem/2rem Inter; 
$subtitle-24bold: 700 1.5rem/2rem Inter; 
$body-17regular: 400 1.0625rem/1.375rem Inter; 
$body-17bold: 700 1.0625rem/1.375rem Inter; 
$body-13regular: 400 0.8125rem/1rem Inter; 
$body-12regular: 400 0.75rem/0.9375rem Inter; 
$body-11regular: 400 0.6875rem/0.875rem Inter; 
$body-11semibold: 600 0.6875rem/0.875rem Inter; 
$body-12semibold: 600 0.75rem/0.9375rem Inter; 
$caption-12bold: 700 0.75rem/1rem Inter; 
$caption-12regular: 400 0.75rem/1rem Inter; 
$caption-12regular_u: 400 0.75rem/1.25rem Inter; 

a{
    color: inherit;
    text-decoration: none;
}
body {
    font: $subtitle-26semibold;
    color: $white;
    background-color: $bg;
    font-size: 14px;

    display: grid;
    grid-template-columns: 18% 1fr;
}


/* 
    --------------
    --------------
        Desktop
    --------------
    --------------
*/


/* Modal */
.content_modal{
    position: fixed;
    height: 100vh;
    width: 100%;
    
    .wrapper{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(0,0,0,.8);
        }
        .modal{
            padding: 3em 4em;
            border-radius: 10px;
            background-color: #0f0f0f;
            color: #ccc;
            h2{
                font: $subtitle-22regular;
            }
            hr{
                border-color: $color_separador;
                width: 90%;
                margin-top: .3em;
                margin-bottom: 2em;
            }
            div{
                margin: auto;
            }
        }
    }
}

/* Nav */
nav{
    background-color: $grey-3;
    font: $subtitle-22regular;
    font-size: 1em;
    padding: 2em;
    padding: {
        top: 1.8em;
        left: .8em;
    };

    .content_titulo{
        font-size: 1.6em;
        margin-bottom: .8em;

        display: flex;
        justify-content: start;
        align-items: center;
        
        .imagen{
            display: flex;
            align-items: center;
            margin-right: .1em;
        }
    }
    .navItems{
        font-size: 1em;
    
        /* Separación del icono */
        label,
        .imagen{
            margin-right: .5em;
        }
    
        .content_explorar,
        .content_radio{
            display: flex;
            align-items: center;
            margin: .5em 0;
            padding: .1em .6em;
            border-radius: 5px;
            &:hover{
                background-color: $grey-1;
            }
            .imagen{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            > p{
                font-size: .9em;
                letter-spacing: .8px;
            }
        }
    
        /* Buscador */
        .content_form{
            margin-bottom: 1.3em;
            .content_input{
                background-color: $bg;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: .6em;
    
                label{
                    display: flex;
                    opacity: .7;
                    /* Cambio de color al icono */
                    filter: invert(1);
                    img{
                        height: 18px;
                        color: $white;
                    }
                }
                input{
                    background-color: transparent;
                    border: none;
                    &:focus{
                        outline: none;
                        color: $grey-2;
                    }
                }
            }
        }
        
    }
    .btn_responsive{
        display: none;
    }
}

/* Main */
main{
    font: $title-34bold;
    padding: 2em;
    font-size: 14px;
    overflow: hidden;
    /* Titulo */
    .content_titulo{
        h2{
            font-size: 2.5em;
            margin-bottom: .2em;
        }
        hr{
            margin: 0;
            padding: 0;
            border: none;
            border-bottom: 1px solid;
            border-color: $color_separador;
        }
    }

    /* noticias */
    .content_noticias{
        font: normal;
        padding: 2.5em 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.8em;
        border-bottom: 1px solid $color_separador;
        > article{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imagen{
                height: 290px;
                border-radius: 5px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }
            .text{
                margin-bottom: 1em;
                > * {
                    letter-spacing: 1px;
                }
                h3{
                    font: $body-11regular;
                    color: $grey-2;
                    text-transform: uppercase;
                    margin-bottom: .5em;
                }
                .subtitulo1{
                    font: $caption-12regular;
                    font-size: 1.2em;
                    margin-bottom: .6em;
                }
                .subtitulo2{
                    font: $body-12regular;
                    color: $grey-2;
                    font-size: 1.2em;
                }
            }
        }
    }

    .content_anioNuevo,
    .content_musicaNueva,
    .content_cancionesNuevasDestacadas{
        padding-top: 2em;
    }

    /* Titulo de cada seccion */
    .tituloSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
        letter-spacing: .5px;
        border-bottom: 1px solid $color_separador;
        margin-bottom: 1.5em;
        width: 100%;
        p{
            font: $caption-12regular;
            font-size: 1em;
            color: $primary-50;
        }
    }

    /* Año nuevo & musica nueva*/
    .content_anioNuevo,
    .content_musicaNueva{
        /* Cards */
        .content_cards{
            width: 102%;
            overflow-y: hidden;
            overflow-x: auto;
            white-space: nowrap;
            /* Escondo el scrollBar */
            &::-webkit-scrollbar {
                height: 0;
            }
            .card{
                height: 230px;
                width: 190px;
                margin-right: 1.5em;
                display: inline-block;
                /* Imagen */
                .imagen{
                    height: 80%;
                    width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 5px;
                    }
                }
                /* Texto */
                .texto{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    font: $caption-12regular;
                    height: 20%;
                    padding-top: .3em;
                    p{
                        color: $grey-2;
                    }
                }
            }
        }
    }

    /* Canciones nuevas destacadas */
    .content_cancionesNuevasDestacadas{
        .listaDeCanciones {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,1fr);
            gap: 1em 1.3em;
            .card{
                border-top: 1px solid $color_separador;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: .6em;
                height: 2.8em;
                
                .imagen{
                    width: 4em;
                    display: flex;
                    align-items: center;
                    img{
                        border-radius: 5px;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                .texto{
                    font: $caption-12regular;
                    width: 100%;
                    padding: 0 1em;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    h4{
                        font-size: 1.1em;
                        margin-bottom: .3em;
                    }
                    p{
                        color: $grey-2  ;
                    }
                }
                .boton{
                    img{
                        object-fit: contain;
                        object-position: top;
                    }
                }
            }
        }
    }
}

/* 
    --------------
    --------------
        MOBILE
    --------------
    --------------
*/
@media screen and (max-width: 475px) {
    body{
        grid-template-columns: 1fr;
    }

    nav{
        background-color: inherit;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        position: relative;
        .content_titulo{
            margin-bottom: 0;
        }
        .navItems{
            background-color: $grey-1;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            opacity: 1;
            transition: opacity .2s ease-in-out ;
            &.ocultar{
                opacity: 0;
            }

            /* Buscador */
            .content_form{
                padding: 0 1em;
                margin: {
                    top: 1em;
                };
            }
            /* Explorar */
            .content_explorar{
                padding-left: 1em;
            }
            /* Radio */
            .content_radio{
                padding-left: 1em;
            }
        }
        .btn_responsive{
            filter: invert(1);
            display: inline-flex;
            width: 1.8em;
            img{
                width: 100%;
            }
        }
    }

    main{
        padding: 1em;

        /* Titulo */
        .content_titulo h2{
            font: $subtitle-26semibold;
        }

        /* Noticias */
        .content_noticias{
            display: block;
            overflow: auto;
            white-space: nowrap;
            &::-webkit-scrollbar {
                height: 0;
            }
            > article{
                display: inline-block;
                margin-right: 1em;
                
                .imagen{
                    height: 180px;
                    width: 290px;
                }
            }
        }

        /* Año nuevo & Música nueva */
        .content_anioNuevo,
        .content_musicaNueva{
            .content_cards .card{
                height: 230px;
                width: 190px;
            }
        }

        /* Canciones nuevas destacadas */
        .content_cancionesNuevasDestacadas .listaDeCanciones{
            grid-template-columns: 1fr;
        }
    }
}

/* 
    --------------
    --------------
        TABLET
    --------------
    --------------
*/
@media screen and (min-width: 476px) and (max-width: 968px){
    body{
        grid-template-columns: 1fr;
    }

    nav{
        background-color: inherit;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        position: relative;
        .content_titulo{
            margin-bottom: 0;
        }
        .navItems{
            background-color: $grey-1;
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            opacity: 1;
            transition: opacity .2s ease-in-out ;
            &.ocultar{
                opacity: 0;
            }
            /* Buscador */
            .content_form{
                padding: 0 1em;
                margin: {
                    top: 1em;
                };
            }
            /* Explorar */
            .content_explorar{
                padding-left: 1em;
            }
            /* Radio */
            .content_radio{
                padding-left: 1em;
            }
        }
        .btn_responsive{
            filter: invert(1);
            display: inline-flex;
            width: 1.8em;
            img{
                width: 100%;
            }
        }
    }

    main{
        .content_cancionesNuevasDestacadas .listaDeCanciones{
            grid-template-columns: 1fr 1fr;
        }
    }
}